body {
	font-family: 'Montserrat', sans-serif;
	font-size: 100%;

    background: rgb(0,0,0);
    background: linear-gradient(128deg, rgba(0,0,0,1) 0%, rgba(20,45,150,1) 50%, rgba(0,1,61,1) 100%);
    //background: linear-gradient(128deg, rgba(3,10,60,1) 0%, rgba(17,130,133,1) 41%, rgba(145,0,255,1) 100%);
	//background-image: linear-gradient(135deg, #FF8D47 10%, #1904E5 100%);
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	background-attachment: fixed;
	link: "black";

	/* text-align: center;*/
}

.tree ul {
  margin: 0 0 0 15em;
  padding: 0;
  list-style: none;
  color: #369;
  position: relative;
}
.tree:before, .tree ul:before {
  content: "";
  display: block;
  width: 0px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  border-left: 1px solid;
  background: white;
  z-index: -1;
}
.tree li {
  font-weight: bold;
  line-height: 3em;
  margin: 0;
  padding: 1.5em 0 0 2em;
  position: relative;
  z-index: -1;
}
.tree li:before {
  border-top: 1px solid;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  margin-top: 1em;
  position: absolute;
  top: 1.5em;
  width: 2em;
}
.tree li:last-child:before {
  bottom: 0;
  height: auto;
  top: 1.5em;
}
.tree > li:before {
  border-top: none !important;
}
.tree li div {
  border-radius: 5px;
  border: 1px solid #afafaf;
  margin: 0;
  max-width: 15em;
  min-width: 15em;
  padding: 0.25em 0.5em;
  background: white;
  box-shadow: 1px 1px 4px #8F949A;
  color: #369;
  font-weight: bold;
}

ul.tree {
  margin-left: 0px;
}
ul.tree:before {
  border-left: none;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  width: 100%;
}